body{
    background-color: chocolate;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    /* text-align: center; */
    /* padding: 10px; */
}

input{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 4px;
    box-sizing: border-box;
    border: 1px solid green;
}

button{
    height: 45px;
    width: 150px;
    border-radius: 10px;
    background-color: green;
    font-weight: bold;
    font-size: medium;
    padding: 10px 20px;
    max-width: 600px    ;
}

#delete-btn{
    background-color: white;
    color: green;
    margin-left: 20px;
}

#tab-btn{
    margin-left: 20px;
}

ul{
    margin-top: 5px;
    padding: 0;
    font-size: medium;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li{
    margin-top: 5px;
    padding: 2px 2px;
}

li a{
    color: green;
}