body{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    padding-top: 20px;
    color: white;
    text-align:inherit;
}

h2{
    color: green;
    text-align: inherit;
    text-indent: 3%;
}
h3{
    color: white;
    text-align:inherit;
    text-indent: 17%;
}

button{
    background-color: green;
    color: white;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin-left: 28px;
    margin-top: 15px;
}

input{
    margin-top: 40px;
    background-color: rgb(37, 52, 91);
    text-align: center;
    font-size: large;
    color: green;
    height: 40px;
    width: 300px;
    margin-left: 30px;
    border-radius: 5px;

}

label{
    margin-top: 40px;
    background-color: rgb(229, 230, 232);
    font-size: medium;
    color: green;
    height: 60px;
    width: 300px;
    margin-left: 30px;
    border-radius: 5px;

}

div{
    background-color: rgb(40, 48, 75);
    height: 400px;
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 250px;
    border-radius: 10px;
}

#copyButton1{
    height: 30px;
    width: 30px;
}

#copyButton2{
    height: 30px;
    width: 30px;
}